<h2>Back to All Animals</h2>

<ul>
<% for (var i = 0; i < animals.length; i++) { %>
  <li>
    <h2><%= animals[i].name%></h2>
    <ul>
      <li><strong>ID</strong> :
        <a href="/animals/<%= animals[i].id %>"><%= animals[i].id %></a> </li>
      <li><strong>Breed : </strong> <%= animals[i].breed %></li>
      <li><strong>Dob : </strong> <%= new Date(animals[i].dob).toDateString() %></li>
      <li><strong>Gender : </strong> <%= animals[i].gender %></li>
      <li><strong>Family : </strong> <%= animals[i].family %></li>
      <li>
        <% if(animals[i].status == "orphan") { %>
          <a href="/animals/<%= animals[i].id %>/adopt">Adopt</a>
        <% } else { %>
          <a href="/animals/<%= animals[i].id %>/abandon">Abandon</a>
        <% } %>
      </li>
    </ul>
  </li>
<% } %>
</ul>
